
@{
    ViewData["Title"] = "TermsOfUse";
}

<style>
    pre {
        font-family: inherit; /* نفس الخط بتاع p */
        font-size: inherit; /* نفس حجم الخط */
        line-height: inherit; /* نفس التباعد */
        white-space: pre-wrap; /* عشان يكسر السطر زي p */
        word-wrap: break-word; /* يمنع خروج النص برا */
        margin: 0; /* زي p */
    }
</style>


<!-- About Start -->
<div class="position-relative text-center mb-3">
    <img class="w-100" style="height:600px; object-fit:cover;" src="~/img/carousel-1.jpg" alt="Image">

    <!-- النص فوق الصورة -->
    <div class="position-absolute top-50 start-50 translate-middle w-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="fw-bold display-4mb-3" style="color:#fff;">Terms Of Use</h1>

    </div>
</div>

<div class="container" style="margin-top:100px;">
    <h2>1. Agreement to Terms </h2>
    <p>
        By accessing and using the Resources one website, you agree that you have read,
        understood, and agree to be bound by all of these Terms of Use. If you do not agree with
        these terms, you are prohibited from using the site. We reserve the right, in our sole
        discretion, to make changes or modifications to these Terms of Use at any time and for any
        reason. You will be alerted about any changes by updating the "Last Updated" date of these
        Terms of Use, and your continued use of the site will be considered an acceptance of any
        changes.
    </p>
    <hr />

    <h2>2. Intellectual Property Rights</h2>
    <p>
        Unless otherwise indicated, the Site and all its content (including, but not limited to, text,
        designs, images, videos) and the trademarks contained therein are our proprietary property
        or licensed to us. The content is provided "AS IS" for your information and personal use only.
        No part of the Site may be copied, reproduced, published, distributed, or sold for any
        commercial purpose without our express prior written permission.
    </p>
    <hr />

    <h2>3. Prohibited Activities</h2>
    <pre>
          You may not use the Site for any purpose other than that for which we make the Site
          available. As a user of the Site, you agree not to:
        ● Systematically retrieve data or other content from the Site to create a database or
          directory.
        ● Use the Site for any illegal or unauthorized purpose.
        ● Copy or use the designs and/or ideas of products on the website.
        ● Engage in any automated use of the system, such as using robots or similar data
           gathering tools.
        ● Use the Site to compete with us or in any attempt to disparage or harm us.
    </pre>
    <hr />

    <h2>4. Third-Party Content</h2>
    <p>
        The Site may contain links to other sites or content from third parties. We do not monitor or
        check the accuracy or appropriateness of this content, and we are not responsible for any
        third-party sites or content accessed through our site. Any purchases you make through
        third-party sites are exclusively between you and the applicable third party.
    </p>
    <hr />

    <h2>5. Disclaimer</h2>
    <p>
        The Site is provided on an "AS-IS" and "AS-AVAILABLE" basis. You agree that your use of
        the Site services will be at your sole risk. We disclaim all warranties regarding the accuracy
        or completeness of the Site's content and will not be responsible for any errors, interruptions,
        or viruses that may be transmitted through the Site. The information on the Site should not be
        construed as a promise of any result or a guarantee of success for any business activity.
    </p>
    <hr />
    <h2>6. Governing Law and Jurisdiction </h2>
    <p>
        These Terms of Use are governed by and construed in accordance with the laws of <span class="text-danger"> [United
            Arab Emirates].
        </span>
        Any legal action arising from these terms shall be brought to the courts of [---------------------].
    </p>
    <hr />
    <h2>7. Contact Us</h2>
    <p>If you have any questions or complaints regarding the Site, please contact us at</p>    
        <a href="info@resourcesone.com">info@resourcesone.com</a>
    <hr />

    <h2>8. Last Updated   @DateTime.Now.Year</h2>
    <hr />
</div>